.categories {
  padding-top: 120px;
  background-color: teal;
}

.categories-nav {
  display: grid;
  grid-template-columns: repeat(6, 205px);
  justify-items: center;
  
  &__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #9A9CA5;
  }
}

.categories-list {
  &__item {
    grid-column: 6 span;
  }
}
