.clients {
  padding-top: 160px;
  padding-bottom: 120px;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--color-light);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      gap: 78px;
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 34px;
    }
  }

  &__link {
    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 6px;
    }
  }
}

