.contacts {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--color-light);

  &__content {
    display: flex;
    gap: 135px;

    @include minidesk {
      flex-direction: column;
      align-items: center;
      gap: 35px;
    }
  }

  &__image {
    flex-shrink: 0;
    width: 495px;
    margin-right: 20px;

    @include minidesk {
      width: 100%;
      margin-right: 0;
    }
  }

  &__form-contacts {
    width: 600px;

    @include minidesk {
      width: 100%;
    }
  }

  @include mobile {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.form-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__field {
    width: 47.5%;
    max-height: 88px;

    @include mobile {
      width: 100%;
    }
  }

  .form-field__caption {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }

  &__fields {
    width: 47.5%;
    max-height: 88px;
    padding: 0;
    padding-left: 3px;
    border: none;

    .form-field__caption {
      margin-bottom: 21px;
    }

    @include mobile {
      .form-field__flex {
        display: flex;
      }
    }
  }

  &__custom-radio {
    &:not(:last-child) {
      margin-right: 22px;
    }
  }

  .form-field__input {
    height: 52px;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
  }

  .form-field__select {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 52px;
    padding: 13px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    appearance: none;
    -webkit-appearance: none;
    background-color: #F4F5F7;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    transition: color 0.3s ease-in-out;

    &::after {
      position: absolute;
      content: "";
      right: 8px;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -4px;
      // background-image: url("../img/down-chevron.svg");
      background-color: black;
      background-position: center right;
      background-size: cover;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 6px;
    }
  }

  &__message {
    max-height: 162px;

    .form-field__input {
      &--big {
        height: 126px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 39px;

    @include mobile {
      display: block;
    }
  }

  &__custom-checkbox {
    display: inline-block;
    margin-right: 75px;

    .custom-checkbox__text {
      max-width: 315px;
      font-size: 16px;
      line-height: 160%;
      color: var(--color-gray);
    }

    @include minidesk {
      margin-right: 0;
    }
  }

  &__btn {
    height: 52px;
    padding-left: 41px;
    padding-right: 41px;

    @include mobile {
      width: 100%;
      margin-top: 25px;
    }
  }

  .choices {
    width: 100%;
  }

  .is-focused {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  .choices__inner {
    margin: 0;
    border: 1px solid #d7dadd;
    border-radius: 4px;
    padding: 0;
    height: 52px;
    background-color: var(--color-athens);
  }

  .choices__list--single .choices__placeholder {
    font-size: 16px;
    line-height: 160%;
    color: #9a9ca5;
    opacity: 1;
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
  }

  .choices__list--single {
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 100%;
  }

  .choices[data-type*=select-one]:after {
    right: 19px;
    margin-top: 0;
    border: none;
    width: 14px;
    height: 7px;
    background-image: url("../img/angle-down.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  .choices[data-type*=select-one].is-open:after {
    margin-top: -7px;
    transform: rotate(180deg) translateY(-50%);
  }

  .choices__list--dropdown .choices__item--selectable:after {
    display: none;
  }

  .choices__list--dropdown {
    background-color: var(--color-athens);
  }

  @include mobile {
    flex-direction: column;
  }
}

