.facts {
  padding-top: 180px;
  padding-bottom: 200px;
  background-color:  red;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 736px;
    margin: 0 auto;
    gap: 48px;
  }
}

.facts-element {
  &__circle {
    position: relative;

    svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}
