.footer-form {
  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--color-light);
  }

  &__items {
    @include flex-v-center;

    margin-bottom: 15px;
  }

  .form-field {
    margin: 0;
    width: 364px;
  }

  .form-field__input {
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__btn {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 19px;
    padding-right: 19px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    letter-spacing: normal;
    cursor: pointer;
  }

  &__description {
    margin: 0;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-light);
    opacity: 0.6
  }
}
