.hero {
  padding-top: 220px;
  padding-bottom: 353px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-gray);

  &__content {
    max-width: 590px;
  }
}
