.nav {
  &__list {
    @include flex-v-center;
    gap: 40px;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 45px;
    }
  }

  &__item-wrapper {
    position: relative;
  }

  &__item {
    &:not(:last-child) {
      @include tablet {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }

  &__active {
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background-color: tomato;
  }

  &__item-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    color: var(--color-gray);
    transition: color 0,3s ease-in-out;

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 6px;
    }

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-active);
    }

    &--current {
      color: var(--color-primary);
    }

    @include tablet {
      font-size: 18px;
    }
  }
}
