.portfolio {
  background-color: red;
}

.portfolio-tabs-nav {
  --gap: 20px;
  @include flex-v-center;

  &__item {
    width: calc((100% - (var(--gap) * 4)) / 5);

    &:not(:last-child) {
      margin-right: var(--gap);
    }
  }

  &__btn {
    @include flex-column-center;

    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--color-light);
    box-shadow: var(--main-shadow);
    border-radius: 4px;
  }

  &__icon {
    display: block;
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
}

.portfolio-tabs {
  &__item {
    grid-column: 4 span;
  }
}
