.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--color-light);

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__title {
    max-width: 710px;
    margin: 0;
    padding-bottom: 12px;
  }

  &__slider-nav {
    transform: translateX(12px);
  }

  &__learn {
    margin-top: 80px;
  }

  &__items {
    margin: -100px;
    padding: 100px;
  }

  .swiper-slide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .slider-visible {
    opacity: 1;
    visibility: visible;
  }
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-light);
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08),
   0 30px 24px -10px rgba(154, 156, 165, 0.05),
   0 12px 10px -6px rgba(154, 156, 165, 0.04),
   0 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;

  &__content {
    @include flex-column-center;

    padding-top: 16px;
    padding-bottom: 23px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__description {
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
  }

  &__btn {
    display: none;
    margin-top: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 31px;
    padding-right: 31px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-primary);
    border: 1px solid currentColor;
    border-radius: 4px;
  }
}

.slider-nav__btn.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}
