.portfolio-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-light);
  box-shadow: var(--main-shadow);
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  &__content {
    @include flex-column-center;

    padding-top: 16px;
    padding-bottom: 23px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__description {
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
  }

  &__btn {
    // display: none;
    margin-top: 24px;
    margin-bottom: -68px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 31px;
    padding-right: 31px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-primary);
    border: 1px solid currentColor;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    will-change: margin;

    @include small-tablet {
      margin-bottom: 0;
    }
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 6px;
  }

  &:hover {
    .portfolio-item__btn {
      margin-bottom: 0;
    }
  }
}
