.comments {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--color-light);

  &__title {
    margin-bottom: 60px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 59px;
    }
  }

  @include small-tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
