.positions-content {
  padding-top: 120px;
  padding-bottom: 56px;
  background-color: var(--color-athens);

  &__left {
    grid-column: 7 span;
  }

  &__right {
    grid-column: 5 span;
  }

  @include small-tablet {
    padding-top: 45px;
  }
}

.positions-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.positions-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--color-light);
  border: 1px solid #E5E8ED;
  border-radius: 4px;

  &__left {
    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__meta {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
  }

  &__city {
    position: relative;
    display: inline-block;
    margin-right: 21px;
    padding-left: 24px;
    background-image: url("../img/city.svg");
    background-position: left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      right: -13px;
      width: 1px;
      height: 11px;
      background-color: currentColor;
      transform: translateY(-50%);
    }
  }

  &__time {
    padding-left: 24px;
    background-image: url("../img/time.svg");
    background-position: left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__link {
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: var(--color-primary);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 6px;
    }

    &:hover {
      color: var(--color-light);
      background-color: var(--color-active);
    }

    &:active {
      color: var(--color-light);
      background-color: var(--color-active);
    }
  }

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}

.positions-looking {
  width: 390px;

  &__title {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__description {
    margin: 0;
    margin-bottom: 47px;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__btns {
    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__btn {
    &--subs {
      margin-right: 22px;
      padding-left: 44px;
      padding-right: 44px;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 6px;
      }

      &:hover {
        color: var(--color-light);
        background-color: var(--color-primary);
        border-color: transparent;
      }

      &:active {
        color: var(--color-light);
        background-color: var(--color-active);
        border-color: transparent;
      }

      @include tablet {
        margin-right: 0;
      }
    }

    &--send {
      padding-left: 54px;
      padding-right: 54px;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 6px;
      }

      &:hover {
        color: var(--color-primary);
        background-color: transparent;
        border-color: var(--color-primary);
      }

      &:active {
        color: var(--color-light);
        background-color: transparent;
        border-color: var(--color-active);
      }
    }
  }

  @include tablet {
    width: 100%;
  }
}
