.recent-news {
  padding-top: 80px;
  padding-bottom: 120px;
  padding-left: 0;
  padding-right: 0;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    grid-template-rows: repeat(2, 255px);
    margin-bottom: 80px;
  }

  &__item {
    grid-column: 5 span;
    max-width: 705px;

    &:first-child {
      grid-column: 7 span;
      grid-row: 2 span;
    }
  }
}

.recent-article {
  height: 100%;
  background-color: var(--color-light);
  box-shadow: var(--main-shadow);
  border-radius: 4px;
  overflow: hidden;

  &__text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__title {
    margin: 0;
    margin-bottom: 13px;
  }

  &__description {
    margin: 0;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }

  &__meta {
    margin-bottom: 17px;
  }

  &__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &--small {
    .recent-article__description {
      display: none;
    }

    .recent-article__text {
      padding-top: 12;
      padding-bottom: 12px;
    }

    .recent-article__title {
      margin-bottom: 9px;
    }
  }
}

.article-meta {
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);

  &__item {
    position: relative;
    color: inherit;

    &:not(:last-child) {
      margin-right: 21px;

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        right: -11px;
        width: 1px;
        height: 11px;
        color: inherit;
        background-color: currentColor;
      }
    }

    &--comments {
      padding-left: 24px;
      background-image: url("../img/comments.svg");
      background-position: left center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }
  }
}
