.services-section {
  padding-top: 212px;
  padding-bottom: 80px;
  background-image: url("../img/services-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__list {
    margin-bottom: 80px;
  }

  &__learn {
    @include flex-all-center;
  }

  &__subtitle {
    margin: 0;
    margin-right: 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-ebony);
  }
}

.services-list {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  gap: var(--grid-gap);
}

.services-item {
  display: block;
  padding-top: 87px;
  padding-bottom: 91px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
  0px 30px 24px -10px rgba(154, 156, 165, 0.05),
  0px 12px 10px -6px rgba(154, 156, 165, 0.04),
  0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  background-color: var(--color-light);

  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-ebony);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#1e212c, 0.6);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }


  &__content {
    @include flex-column-center;

    position: relative;
    z-index: 10;
  }

  &__icon {
    width: 52px;
    height: 52px;
    margin-bottom: 23px;
    object-fit: cover;
    fill: var(--color-primary);
    transition: fill 0.3s ease-in-out;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--color-ebony);
    transition: color 0.3s ease-in-out;
  }

  &--construct {
    &::before {
      background-image: url("../img/services-1.jpg");
    }
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 1;
    }

    .services-item__icon {
      fill: var(--color-light);
    }

    .services-item__title {
      color: var(--color-light);
    }
  }
}
