.we-offer {
  padding-top: 120px;
  padding-bottom: 180px;
  background-color: var(--color-light);

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
  }

  &__image {
    grid-column: 7 span;
  }

  &__content {
    grid-column: 5 span;
    padding-top: 5px;
    padding-left: 75px;
  }

  &__title {
    margin: 0;
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: var(--color-ebony);
  }
}
