<section class="achievements">
  <div class="container">
    <h2 class="visually-hidden">Achievements of the Company</h2>
    <ul class="list-reset achievements__list grid">
      <li class="achievements__item achievements__item--recomendation">
        <div class="achievements__value">60%</div>
        <div class="achievements__text">Clients on&nbsp;the recommendation of&nbsp;friends</div>
      </li>
      <li class="achievements__item achievements__item--renovated">
        <div class="achievements__value">2400+</div>
        <div class="achievements__text">Apartments renovated</div>
      </li>
      <li class="achievements__item achievements__item--specialists">
        <div class="achievements__value">670</div>
        <div class="achievements__text">Qualified specialists</div>
      </li>
      <li class="achievements__item achievements__item--finishing">
        <div class="achievements__value">150000+ m<sup>2</sup></div>
        <div class="achievements__text">Finishing work was carried out</div>
      </li>
    </ul>
  </div>
</section>
