<section class="achievements">
  <div class="container">
    <h2 class="visually-hidden">Achievements of the Company</h2>
    <ul class="list-reset achievements__list grid">
      <li class="achievements__item achievements__item--recomendation">
        <div class="achievements__value">60%</div>
        <div class="achievements__text">Clients on&nbsp;the recommendation of&nbsp;friends</div>
      </li>
      <li class="achievements__item achievements__item--renovated">
        <div class="achievements__value">2400+</div>
        <div class="achievements__text">Apartments renovated</div>
      </li>
      <li class="achievements__item achievements__item--specialists">
        <div class="achievements__value">670</div>
        <div class="achievements__text">Qualified specialists</div>
      </li>
      <li class="achievements__item achievements__item--finishing">
        <div class="achievements__value">150000+ m<sup>2</sup></div>
        <div class="achievements__text">Finishing work was carried out</div>
      </li>
    </ul>
    <div class="achievements__content">
      <img class="achievements__image" src="img/achievements-man.jpg" alt="" aria-hidden="true">
      <div class="achievements__info">
        <blockquote class="achievements__quote quote">
          <div class="quote__content">
            <p>Dapibus nec vitae ante mattis. Aliquam phasellus ac&nbsp;dui augue&nbsp;in. Sed aliquet in&nbsp;egestas hac at&nbsp;proin sed quam. Etiam aliquet sagittis non, massa cum pulvinar. Et&nbsp;in&nbsp;leo, tempus purus vestibulum ut&nbsp;blandit et&nbsp;mi. Odio massa purus vel praesent arcu enim elit felis viverra.
            </p>
            <p>Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet suspendisse faucibus tempor ipsum integer.
            </p>
          </div>
          <footer class="quote__footer">
            <span class="quote__author">Courtney Alexander</span>
            CEO - Createx Construction Bureau
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
