<section class="categories">
  <div class="container">
    <h2 class="categories__title title title--center">Categories</h2>
    <ul class="list-reset categories__categories-nav categories-nav">
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">All News</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Company News</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Innovation</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Industry News</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Expert Tips</button>
      </li>
      <li class="categories-nav__item">
        <button class="btn-reset categories-nav__btn">Marketing</button>
      </li>
    </ul>
    <ul class="list-reset categories-list grid">
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/recent-article-1.jpg" alt="article-1" class="recent-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure
              </a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time datetime="2020-06-24 19:00" class="article-meta__item">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__description">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/recent-article-1.jpg" alt="article-1" class="recent-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure
              </a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time datetime="2020-06-24 19:00" class="article-meta__item">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__description">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/recent-article-1.jpg" alt="article-1" class="recent-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure
              </a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time datetime="2020-06-24 19:00" class="article-meta__item">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__description">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/recent-article-1.jpg" alt="article-1" class="recent-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure
              </a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time datetime="2020-06-24 19:00" class="article-meta__item">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__description">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/recent-article-1.jpg" alt="article-1" class="recent-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure
              </a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time datetime="2020-06-24 19:00" class="article-meta__item">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__description">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories-list__item">
        <article class="news-article">
          <img src="img/recent-article-1.jpg" alt="article-1" class="recent-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure
              </a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time datetime="2020-06-24 19:00" class="article-meta__item">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__description">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <div class="centered">
      <ul class="list-reset categories-pagination">
        <li class="categories-pagination__item">
          <a href="#" class="categories-pagination__link">1</a>
        </li>
        <li class="categories-pagination__item">
          <a href="#" class="categories-pagination__link">2</a>
        </li>
        <li class="categories-pagination__item">
          <a href="#" class="categories-pagination__link">3</a>
        </li>
        <li class="categories-pagination__item">
          <a href="#" class="categories-pagination__link">4</a>
        </li>
        <li class="categories-pagination__item">
          <a href="#" class="categories-pagination__link">
            svg
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
