<section class="facts">
  <div class="facts__container container">
    <h2 class="facts__title title title--center">Some facts and figures</h2>
    <ul class="list-reset facts__list">
      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle">
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle class="progress" r="148" cx="148" cy="148" fill="none" stroke="yellow" stroke-width="15"></circle>
              <circle class="progress" r="148" cx="148" cy="148" fill="none" stroke="#F89828" stroke-width="15"></circle>
            </svg>
            <div class="facts-element__value">98%</div>
          </div>
          <span class="facts-element__text">Totally satisfied clients</span>
        </div>
      </li>
    </ul>
  </div>
</section>
