<header class="header header--secondary">
  <div class="header__container container">
    <a class="header__logo logo" href="index.html">
      <img src="img/logo.svg" alt="Createx logo">
    </a>
    <nav class="header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="nav__item-link" href="about.html">About Us</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link nav__item-link--current">Services</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="portfolio.html">Work</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="#">News</a>
        </li>
        <li class="nav__item">
          <a class="nav__item-link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header__header-contacts header-contacts">
      <a class="header-contacts__link contacts-link contacts-link--call" href="tel:4055550128">
        <span class="contacts-link__caption">Call us</span>
        <span class="contacts-link__value">(405) 555-0128</span>
      </a>
      <a class="header-contacts__link contacts-link contacts-link--mail" href="mailto:hello@createx.com">
        <span class="contacts-link__caption">Talk to us</span>
        <span class="contacts-link__value">hello@createx.com</span>
      </a>
    </div>
  </div>
</header>
