<section class="page-hero page-hero--post">
  <div class="container">
    <ul class="list-reset page-hero__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="news.html" class="breadcrumbs__link">News</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">How to Build Climate Change-Resilient Infrastructure</a>
      </li>
    </ul>

    <h1 class="page-hero__title">How to&nbsp;Build Climate Change-Resilient Infrastructure</h1>
    <div class="page-hero__bottom">
      <div class="page-hero__article-meta article-meta">
        <a href="#" class="article-meta__item">Industry News</a>
        <time datetime="2020-06-12 23:00" class="article-meta__item">June 24, 2020</time>
        <span class="article-meta__item article-meta__item--comments">4 comments</span>
      </div>
      <ul class="list-reset page-hero__social social">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--facebook" area-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--linkedIn" area-label="LinkedIn">
            <svg>
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--twitter" area-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
