<section class="page-hero page-hero--portfolio-inner">
  <div class="container">
    <ul class="list-reset page-hero__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="portfolio.html" class="breadcrumbs__link">Work</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link--active">Modern Cottage</a>
      </li>
    </ul>

    <h1 class="page-hero__title page-hero__title--small page-hero__title--mb">Modern Cottage</h1>
    <div class="portfolio-images">
      <div class="portfolio-images-slider">
        <button class="btn-reset slider-nav__btn portfolio-images__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
          <span class="visually-hidden">Кнопка назад</span>
        </button>
        <button class="btn-reset slider-nav__btn portfolio-images__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
          <span class="visually-hidden">Кнопка вперед</span>
        </button>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/portfolio/portfolio-image-1.jpg" alt="Portfolio 1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/portfolio-image-1.jpg" alt="Portfolio 1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/portfolio-image-1.jpg" alt="Portfolio 1">
          </div>
        </div>
      </div>

      <div class="portfolio-images-nav"  thumbsSlider="">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/portfolio/image-1-small.jpg" alt="Portfolio 1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/image-2-small.jpg" alt="Portfolio 2">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/image-3-small.jpg" alt="Portfolio 3">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/image-4-small.jpg" alt="Portfolio 4">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/image-5-small.jpg" alt="Portfolio 5">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/image-6-small.jpg" alt="Portfolio 6">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
