<section class="page-hero page-hero--portfolio-inner">
  <div class="container">
    <ul class="list-reset page-hero__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="portfolio.html" class="breadcrumbs__link">Work</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link--active">Modern Cottage</a>
      </li>
    </ul>

    <h1 class="page-hero__title page-hero__title--small page-hero__title--mb">Modern Cottage</h1>
    <div class="portfolio-images">
      <div class="portfolio-images-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/portfolio/portfolio-image-1.jpg" alt="Portfolio 1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/portfolio-image-1.jpg" alt="Portfolio 1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/portfolio-image-1.jpg" alt="Portfolio 1">
          </div>
        </div>
      </div>

      <div class="portfolio-images-nav">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/portfolio/portfolio-image-1.jpg" alt="Portfolio 1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/portfolio-image-1.jpg" alt="Portfolio 1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio/portfolio-image-1.jpg" alt="Portfolio 1">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
