<section class="how-we-do">
  <div class="container">
    <h2 class="how-we-do__title title">That&rsquo;s how we&nbsp;do&nbsp;it</h2>
    <ul class="list-reset how-we-do__list grid">
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Work Estimate</h3>
        <p class="how-we-do__description">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit.
        </p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Contract</h3>
        <p class="how-we-do__description">Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et&nbsp;tempor.
        </p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Mobilization</h3>
        <p class="how-we-do__description">Odio massa scelerisque purus arcu sed velit eleifend cursus leo.</p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Construction Work</h3>
        <p class="how-we-do__description">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et&nbsp;ad&nbsp;et&nbsp;veniam ad&nbsp;deserunt.
        </p>
      </li>
    </ul>
  </div>
</section>
