<section class="mission section-offset">
  <div class="container">
    <h2 class="title title--center">Our core values</h2>
    <p class="description description--center">Our mission is&nbsp;to&nbsp;set the highest standards for construction sphere.</p>
    <ul class="list-reset mission__list">
      <li class="mission__item mission__item--quality">
        <h3 class="mission__subtitle">Quality</h3>
        <p class="mission__description">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
      </li>
      <li class="mission__item mission__item--safety">
        <h3 class="mission__subtitle">Safety</h3>
        <p class="mission__description">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est&nbsp;ea.</p>
      </li>
      <li class="mission__item mission__item--comfort">
        <h3 class="mission__subtitle">Comfort</h3>
        <p class="mission__description">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate<br> ullamco proident ea&nbsp;ad.</p>
      </li>
    </ul>
  </div>
</section>
