<section class="page-hero page-hero--services">
  <div class="container">
    <ul class="list-reset page-hero__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link--active">Services</a>
      </li>
    </ul>

    <h1 class="page-hero__title">Services</h1>
    <p class="page-hero__description">If&nbsp;you are looking for a&nbsp;full-service construction company, look to&nbsp;Createx Construction Bureau. We&nbsp;are doing our best to&nbsp;be&nbsp;a&nbsp;partner for all of&nbsp;your construction needs.
    </p>
  </div>
</section>
