<section class="portfolio">
  <div class="container">
    <h2 class="visually-hidden">Portfolio</h2>
    <ul class="list-reset portfolio__portfolio-tabs-nav portfolio-tabs-nav">
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn portfolio-tabs-nav__btn--active">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#house"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">All projects</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-1"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Construction</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-2"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Project Development</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-3"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Interior Design</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="btn-reset portfolio-tabs-nav__btn">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#services-4"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Repairs</span>
        </button>
      </li>
    </ul>
    <ul class="list-reset portfolio-tabs grid">
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="img/portfolio-tabs-1.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Cubes Building</h3>
            <span class="portfolio-item__description">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="img/portfolio-tabs-2.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Modern Cottage</h3>
            <span class="portfolio-item__description">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="img/portfolio-tabs-3.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Luxury Beach House</h3>
            <span class="portfolio-item__description">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="img/portfolio-tabs-1.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
            <span class="portfolio-item__description">Apartments & flats</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="img/portfolio-tabs-1.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
            <span class="portfolio-item__description">Apartments & flats</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="img/portfolio-tabs-1.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">The Pencil Building</h3>
            <span class="portfolio-item__description">Stores & Malls</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__description">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="img/portfolio-tabs-8.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
            <span class="portfolio-item__description">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item">
        <a href="#" class="portfolio-item">
          <img class="portfolio-item__image" src="img/portfolio-tabs-9.jpg" alt="Portfolio cover">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Brown and Gray Painted House</h3>
            <span class="portfolio-item__description">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
    </ul>
    <div class="portfolio__centered centered">
      <a class="portfolio__link" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#load-more"></use>
        </svg>
        Load more
      </a>
    </div>
  </div>
</section>
