<section class="portfolio-section">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="title portfolio-section__title">Browse our selected projects and learn more about our work
      </h2>
      <div class="portfolio-section__slider-nav slider-nav">
        <button class="btn-reset slider-nav__btn portfolio-section__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
          <span class="visually-hidden">Кнопка назад</span>
        </button>
        <button class="btn-reset slider-nav__btn portfolio-section__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
          <span class="visually-hidden">Кнопка вперед</span>
        </button>
      </div>
    </div>

    <div class="portfolio-section__items swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__description">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Cubes Building</h3>
              <span class="portfolio-item__description">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">The Pencil Building</h3>
              <span class="portfolio-item__description">Business Centers</span>
              <div class="portfolio-item__btn">Stores & Malls</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
