<section class="positions-content">
  <h2 class="visually-hidden">Available positions of the company</h2>
  <div class="container">
    <div class="positons-content__info grid">
      <div class="positions-content__left">
        <ul class="list-reset position-list">
          <li class="positions-list__item">
            <article class="positions-item">
              <div class="positions-item__left">
                <div class="positions-item__meta">
                  <span class="positions-item__city">New York</span>
                  <span class="positions-item__time">Full Time</span>
                </div>
                <h3 class="positions-item__title">Heavy Equipment Operator</h3>
              </div>
              <div class="btn btn--stroke-primary positions-item__link">Apply now</div>
            </article>
          </li>
        </ul>
      </div>
      <div class="positions-content__right">

      </div>
    </div>
  </div>
</section>
