<section class="project-goal">
  <div class="project-goal__container container">
    <div class="project-goal__left">
      <h2 class="project-goal__title title">Project goal</h2>
      <p class="project-goal__text">Build a&nbsp;private house 840&nbsp;sq. feet with a&nbsp;large living room, three bedrooms, two bathrooms, a&nbsp;terrace, a&nbsp;pool and a&nbsp;garage for two cars.
      </p>
      <p class="project-goal__text">Modern design and care for each family member to&nbsp;feel as&nbsp;comfortable as&nbsp;possible in&nbsp;the new home.
      </p>
    </div>
    <div class="project-goal__right">

    </div>
  </div>
</section>
