<section class="services-benefits section-offset">
  <div class="container">
    <h2 class="services-benefits__title title title--center">Our benefits</h2>
    <p class="services-benefits__text description description--center">Our mission is&nbsp;to&nbsp;set the highest standards for construction sphere.</p>
    <ul class="list-reset services-benefits__list">
      <li class="services-benefits__item services-benefits__item--terms">
        <h3 class="services-benefits__subtitle">Fixed Terms & Cost</h3>
        <p class="services-benefits__description">Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
      </li>
      <li class="services-benefits__item services-benefits__item--workers">
        <h3 class="services-benefits__subtitle">Qualified Workers</h3>
        <p class="services-benefits__description">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est&nbsp;ea.</p>
      </li>
      <li class="services-benefits__item services-benefits__item--control">
        <h3 class="services-benefits__subtitle">Supervision & Control</h3>
        <p class="services-benefits__description">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea&nbsp;ad.</p>
      </li>
    </ul>
    <div class="services-benefits__centered centered">
      <button class="services-benefits__btn btn btn--fill">Discuss a project</button>
    </div>
  </div>
</section>
