<section class="services-section section-offset">
  <div class="container">
    <h2 class="title title--center">Our services</h2>
    <p class="description description--center">Createx Construction Bureau is&nbsp;a&nbsp;construction giant with&nbsp;a full range of&nbsp;construction services.
    </p>
    <ul class="list-reset services-section__list">
      <li class="services-section__item"></li>
      <li class="services-section__item"></li>
      <li class="services-section__item"></li>
      <li class="services-section__item"></li>
    </ul>
  </div>
</section>
