<section class="team">
  <div class="container">
    <h2 class="team__title title title--center">Our team</h2>
    <p class="team__description description description--center">People are at the heart of Createx Construction Bureau
    </p>
    <ul class="list-reset grid team__list">
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-1.jpg" alt="Courtney Alexander">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-2.jpg" alt="Calvin Fox">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Calvin Fox</div>
        <div class="team__post">CTO, Co-Founder</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-3.jpg" alt="Johnny Lane">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Johnny Lane</div>
        <div class="team__post">Commercial Manager</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-4.jpg" alt="Diane Mccoy">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Diane Mccoy</div>
        <div class="team__post">Director of Human Resources</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-5.jpg" alt="Judith Warren">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Judith Warren</div>
        <div class="team__post">Lead Accountant</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-6.jpg" alt="Floyd Simmmons">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Floyd Simmmons</div>
        <div class="team__post">Finacial Director</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-7.jpg" alt="Serenity Edwards">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Serenity Edwards</div>
        <div class="team__post">Director of Marketing</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-8.jpg" alt="Shawn Edwards">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linked">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Shawn Edwards</div>
        <div class="team__post">Tech Lead</div>
      </li>
    </ul>
    <div class="team__text centered">
      Become a part of the best team in the construction market of the USA.<a href="#">Available Positions</a>
    </div>
  </div>
</section>
